@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background-color: #FB6B6B;
    margin:0px;
    height:100%;

}

.landing-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-content > img {
    width: 136px;
    height: 161px;
}

.name-logo {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 30px;
}

.landing-button {
    font-family: 'Recursive', cursive;
    font-size: 18px;
    line-height: 22px;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.recall-page {
    height: 100vh;
}

.header {
    background-color: #FB6B6B;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    z-index: 1;
}

.header > img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

.footer {
    font-family: 'Recursive';
    font-size: 18px;
    line-height: 22px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.recall-content {
    margin-top: 110px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.frente {
    width: 100%;
    border-radius: 5px;
    height: 65px;
    background: #FFFFFF;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

ion-icon[name=play-outline]{
    font-size: 30px;
}

.card-pergunta, .card-resposta {
    position: relative;
    
    width: 100%;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-pergunta {
    height: 131px;
    
    
}

.card-resposta {
    height: fit-content;
    
}
.card-pergunta > img {
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 5px;
    right: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.nao-lembrou {
    width: 85.17px;
    height: 37.17px;
    padding: 10px;
    background: #FF3030;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.quase {
    width: 85.17px;
    height: 37.17px;

    background: #FF922E;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.zap {
    width: 85.17px;
    height: 37.17px;

    background: #2FBE34;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;


}